.header {
  background-color: #dcdcdc;
}

.header__content {
  max-width: 980px;
  padding: 45px 10px 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__logo-wrap {
  display: flex;
  max-width: 318px;
  width: 100%;
}

.header__logo {
  width: 100px;
  height: 100px;
  margin: 0 25px 0 0;
}

.header__logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  color: rgb(119,119,119);
  margin: 0;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgb(119,119,119);
  margin: 0;
}

.header__promo {
  max-width: 208px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  color: rgb(119,119,119);
  margin: 0;
}

.header__contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 287px;
}

.header__tel {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 31px;
  line-height: 1.48;
  color: rgb(118,118,118);
  text-decoration: none;
}
